[submodule "vim-arduino-ino"]
	path = vim-arduino-ino
	url = git@github.com:jplaut/vim-arduino-ino.git
[submodule "ansible-yaml"]
	path = ansible-yaml
	url = git://github.com/chase/vim-ansible-yaml.git
[submodule "vim-latex"]
	path = vim-latex
	url = git@github.com:micheljansen/vim-latex.git
